* {
    font-family: Arial, Helvetica, sans-serif;
    color: #334eac;
    cursor: copy;
}

body {
    overflow: hidden;
    background-color: #f7f2eb;
    transition: background-color 0.8s ease;
}

h1 {
    font-size: 7.5vw;
    padding: 25px;
    margin-bottom: -60px;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: italic;
    animation:fadeInUp 3s ease backwards;
}

h3 {
    padding: 25px;
    margin-left: 1%;
    font-size: 18px;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    animation:fadeInUp 3s ease backwards;
}

img {
    width: 23%;
    position: absolute;
    top: 0;
    right: 0;
    animation:opacity 3s ease backwards;
    animation-delay: 1s;
}

a {
    text-decoration: none; 
    margin-right: 4px;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    animation:opacity 3s ease backwards;
    animation-delay: 1s;
}

ul {
    margin-right: 260px;
}

.links {
    position: absolute;
    bottom: 0;
    margin-bottom: 70px;
}

a:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.graphic {
    width: 120%;
    position: absolute;
    right: 20%;
    bottom: 0;
    margin-bottom: 26.5%;
}

.photo img {
    width: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 45px;
    margin-top: 20px;
}

.funny img {
    width: 5%;
    position: absolute;
    left: 50px;
    top: 75vh;
}

.logo img {
    width: 5vw;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

marquee {
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: italic;
    animation-duration: 5s;
    position: absolute;
    top: 26.5%;
    animation:opacity 3s ease backwards;
    animation-delay: 1s;
}

#colorButton {
    background-color: transparent;
    border: none;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    text-align: center;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 50%;
    left: 50%;
    margin-left: -40px;
    margin-right: -40px;
    animation:opacity 3s ease backwards;
    animation-delay: 1s;
}

#colorButton:hover {
    color: red;
    text-decoration: underline;
}

@keyframes opacity{
    0%{opacity: 0;}
    100%{ opacity: 1;}
  }

@keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
}

.star {
    position: absolute;
    color: #334EAC;
    font-size: 20px;
    animation:fadeInUp 3s ease backwards;
    overflow: hidden;
  }
  
  #generateButton {
    color: #f7f2eb;
    font-size: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    bottom: 0%;
    right: 50%;
    left: 50%;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 10px;
  }
  
  #generateButton:hover {
    font-size: 1rem;
    text-shadow: 0 0 10px #f7f2eb;
    margin-left: -60px;
    margin-right: -60px;
  }

.loop img {
    width: 8%;
    position: absolute;
    left: 0;
    margin-top: 74vh;
    margin-left: 45vw;
    z-index: -1;
}

@keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
 }

 audio::-webkit-media-controls-panel {
    background-color: #f7f2eb;
}

audio::-webkit-media-controls-play-button {
    background-color: #334eac;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
  }

  audio::-webkit-media-controls-current-time-display {
    color: #334eac;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  audio::-webkit-media-controls-time-remaining-display {
    color: #334eac;
    font-family: kepler-std, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  audio {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 20%;
  }