* {
    background-color: black;
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
    color: white;
    overflow: hidden;
    font-size: 80px;
    cursor: copy;
}

h3 {
    color: white;
    font-size: 15vw;
    padding-top: 15%;
}


a {
    color: white;
    border-color: white;
    text-decoration: none;
    font-family: swear-display, serif;
    font-weight: 600;
    font-style: normal;
} 

a:hover {
    color: red;
    font-style: italic;
}

.links a {
    font-size: 70px;
}

.links a:hover {
    font-style: normal;
}

#home {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
}

#mary {
    font-family: anth, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}

#mary:hover {
    color: red;
    font-style: italic;
}

.floating-text {
    position: absolute;
    font-size: 100px;
    color: white; 
    background-color: transparent;
    text-decoration: none; 
    border-color: white;
    text-decoration: none;
    font-family: swear-display, serif;
    font-weight: 600;
    font-style: normal;
    height: 42%;
}

.floating-text:hover {
  color: red;
  font-style: italic;
}