* {
    background-color: black;
    font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: italic;
    padding: 10px;
    color: white;
    overflow: hidden;
    font-size: 80px;
}

h3 {
    color: white;
    font-size: 150px;
    font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-top: 240px;
}


a {
    color: white;
    border-color: white;
    text-decoration: none;
    
} 

a:hover {
    color: red;
    font-style: italic;
}

.links a {
    font-size: 70px;
}

.links a:hover {
    font-style: normal;
}

#one {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

#two {
    position: absolute;
    bottom: 500px;
    left: 500px;
}

#three {
    position: absolute;
    bottom: 200px;
    left: 700px;
}

#four {
    position: absolute;
    bottom: 600px;
    left: 1000px;
}

#home {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
}

#mary {
    font-family: anth, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}

#mary:hover {
    color: red;
    font-style: italic;
}
