* {
    color: white;
    font-family: anth, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

body {
    background-color: black;
}

p {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 50px;;
    text-align: justify;
    background-color: white;
}

p:hover {
    background-color: black;
}

#link {
    text-align: center;
    padding: 5px;
    display: inline;
    text-decoration: none;
    font-style: bold;
    margin-bottom: 20px;
}

#link:hover {
    color: red;
    font-style: italic;
}

