* {
    font-family: anth, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s;
    cursor: copy;
}

body {
    background-color: #E8E8E8;
    overflow-x: hidden;
    color: black;
}

body::-webkit-scrollbar {
    display: none;
  }

article {
    padding-top: 100px;
}

p {
    text-align: justify;
    padding-bottom: 50px;
    cursor: default;
    margin-bottom: 100px;
    animation:fadeInUp 1s ease backwards;
}

#outerCircleText {
    color: #000;
    position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;
    }
    #outerCircleText div {position: relative;}
    #outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}

    
.one {
    margin-left: 18%;
    margin-right: 15%;
  }

.clickable-word {
    color: red;
    cursor: pointer;
    font-family: sigurd-semi, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
  }

.clickable-word:hover {
    font-size: 1.1rem;
  }
  
  .hidden {
    display: none;
  }
  
  .spin1 {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
  .spin2 {
    position: relative;
    left: 70%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
  .spin3 {
    position: relative;
    left: 140%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
  .spin4 {
    position: relative;
    left: 210%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
  .spin5 {
    position: relative;
    left: 280%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
  .spin6 {
    position: relative;
    left: 350%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    animation: marquee 90s linear infinite;
    font-size: 16px;
  }
  
    @keyframes marquee {
      0% { transform: translateX(180%); }
      100% { transform: translateX(-800%); }
    }

    @keyframes fadeInUp{
        0%{transform:translate(0px, 100px); opacity: 0;}
        100%{transform:translate(0px, 0); opacity: 1;}
      }

h1 {
    color: red;
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 700%;
    position: absolute;
    top: -10%;
    left: 2%;
    animation:fadeInUp 1s ease backwards;
}

#link {
    color: red; 
    cursor: pointer;
    font-family: sigurd-semi, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    position: fixed;
    left: 50%;
    bottom: 2rem;
}

#link:hover {
    font-size: 3rem;
}
