* {
    color: #1560bd;
    font-family: anth, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:azure;
    font-size: large;
}

p {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 50px;;
    text-align: justify;
}

#link {
    text-align: center;
    padding: 5px;
    display: inline;
    text-decoration: none;
    font-style: bold;
    margin-bottom: 20px;
}

#link:hover {
    color: red;
    font-style: italic;
}

