* {
    background-color: black;
    color: blanchedalmond;
    font-family: "sigurd-semi", sans-serif;
    font-weight: 300;
    font-style: italic;
}

p {
    padding-left: 80px;
    padding-top: 50px;
    width: 500px;
    text-align: justify;
    font-family: "sigurd-semi", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#one {
    font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 60px;
    text-decoration: none;
    position: relative;
    left: 1220px;
    padding: 25px;
}

#one:hover {
    color: red;
}