* {
    color: blanchedalmond;
    font-family: "ariel", sans-serif;
    font-weight: 300;
    cursor: copy;
}

body{
    background-color: #000000;
    padding-bottom: 300px;
}

body::-webkit-scrollbar {
    display: none;
  }

p {
    padding-left: 80px;
    padding-top: 50px;
    width: 45%;
    cursor: default;
    animation:fadeInUp 1s ease backwards;
}

.hidden {
    display: none;
  }

.trigger {
  color: red;
  cursor: pointer;
  font-family: sigurd-semi, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.trigger:hover {
    font-size: 1.1rem;
  }  

#end {
  color: red;
  font-size: 2vw;
  font-family: sigurd-semi, sans-serif;
  font-style: italic;
}

@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

#link {
    font-family: swear-display, serif;
    font-style: normal;
    font-size: 500%;
    margin-left: 50%;
    position: absolute;
    padding-bottom: 150px;
    margin-top: -15px;
    animation:fadeInUp 1s ease backwards;
}  

a:hover {
    color: red;
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
}

#revealAll {
    background-color: transparent;
    border: none;
    color: red;
}

button {
    text-align: center;
    padding-top: 15px;
    animation:fadeInUp 1s ease backwards;
}

.centergoddammit {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#revealAll:hover {
    font-style: italic;
    cursor: pointer;
}