/* 
.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    overflow: hidden;
    background-color: black;
    margin: auto;
}


.rightimages {
    width: 60%;
    height: 900px;
    position: absolute;
    right: 0;
}

.rightimages img {
    width: 100%;
}

div.scroll-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    white-space: normal;
    max-height: 900px;
    display: flex;
    flex-direction: column; 
  }
  
  div.scroll-container img {
    padding: 10px;
    display: block; /* Ensures images are in block format */
    width: 100%; /* Adjust width if necessary */
  }
  

.lefttext {
    width: 40%;
    height: 900px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  ::-webkit-scrollbar {
  -webkit-appearance: none;
    width: 15px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

h1 {
    font-family: "Garamond", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 0;
    font-size: 60px;
    z-index: 5;
    padding: 3%;
    color: white;
  }

  span {
    font-family: "AB-Polcadot",sans-serif;
    letter-spacing: -30px;
  }

.text {
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 70%;
    height: 500px;
    flex-grow: 1;
    margin-top: 50%;
    overflow: auto;
    padding-bottom: 50%;
}

p {
    font-family: "Lora", serif;
}

.tilt {
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    border-radius: 8px;
    cursor: pointer;
  }

.creds {
    font-family: "Lora", serif;
    color: black;
    font-size: 17px;
    position: absolute;
    z-index: 5;
    text-align: center;
    padding-left: 3%;
}
